page-terminos {
    ion-content {
        h1 {
            color: #fff;
            text-align: center;
        }
        h2 {
            color: #fff;
            font-family: 'Roboto', sans-serif;
        }
        p {
            color: #e2aa0f;
            text-align: justify;
            font-family: 'Roboto', sans-serif;
            font-size: 1.3em;
        }
    }
}