page-iniciar {
	.title{
			font-family: 'Galada', cursive;
			color:#fff;
			font-size: 3em;
			
		
		}
	ion-list{
		width: 100%;
		margin-top: 10px !important;
		ion-item{
			margin-bottom:  5px !important;
			border-radius: 5px;
		}
	}
	.logo{
		width: 50%;
		margin: 0 auto;
		
	}
	#back{
		font-size: 2em;
	}
}
