page-home {
    
    .boton-style {
        width: 100%;
        height: 50px;
        background-color: #1565C0;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
    }
    .font-color {
        color: white;
    }
    .header{
        background-color: #000 !important;
    }
    ion-button{
        font-size: 2em;
    }
}
